<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert">
        <button type="submit">insert the data from api to database</button>
    </form>
    <form action="/retrive">
        <button type="submit">hello page</button>
    </form>
</body>
</html>