<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>jobTitle</th>
            <th>companyName</th>
            <th>location</th>
            <th>postedToday</th>
            <th>numOfCandidate</th>
            <th>salaryMin</th>
            <th>salaryMax</th>
            <th>phoneNumber</th>
        </tr>
        
    </table>
</body>
</html>