<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Project</title>
    <link rel="stylesheet" href="./style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
   <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  
  <body>
    <div class="button">
        <button id="btn">about us page</button>
    </div>
    <!-- start cursor shadow -->
    <div class="followCursor"></div>
    <!-- end cursor shadow -->
  
    <!-- Start Header -->
    <header>
      <div class="logo">
        <h2>MongTel Solution</h2>
      </div>
      <div class="menu">
        <ul>
          <a href="#">
            <li>Projects</li>
          </a>
          <a href="#">
            <li>Resume</li>
          </a>
          <a href="#">
            <li>ShowCase</li>
          </a>
          <a href="#">
            <li>Contect Us</li>
          </a>
          <a href="#">
            <li>Buy Me a Coffee</li>
          </a>
        </ul>
      </div>
      <!-- open/close menu icons -->
      <div class="header__icons">
        <i class="ri-menu-3-line"></i>
        <i class="ri-close-large-fill"></i>
      </div>
    </header>
    <!-- End Header -->
  
    <!-- Hero Section -->
    <section class="main">
      <h2>Welcome to the MongTel Solution</h2>
    </section>
    <!-- End Hero Section -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./script.js"></script>
    <script src="/javascripts/landing.js"></script>
  </body>  